<div class="container">


    <div class="row">
        <!-- Search Bar -->
        <form class="col s12 m6 offset-m3">
            <div class="input-field">
                <div class="row">
                    <div class="valign-wrapper">
                        <div class="input-field col m6 s12 valign">
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Find a Recipe</label>
                        </div>
                        <button class="btn waves-effect waves-light col m6 s12 valign hoverable" type="submit" name="action" id="submitButton">Search
            </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="row">
        <div class="col m3 s6">
            <a href="/popular" id="showPopular">Show Popular Recipes</a>
        </div>
    </div>



    <div class="row" id="recipeHolder">

        {{#each recipes}}
            <div class="col m4 s12">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{this.recipe_image}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">{{this.recipe_name}}<i class="material-icons right">toc</i></span>
                        <p><a href="/{{this.id}}">Recipe Page</a>
                            <span class="buttonWrapper"><a class="waves-effect waves-light btn addToCartBtn" id="{{this.id}}" data-recipe_name="{{this.recipe_name}}" data-id="{{this.id}}" data-ingredients="{{this.raw_ingredients}}">Add to List</a></span>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title white-text text-darken-4">{{this.recipe_name}}<i class="material-icons right">close</i></span>
                        <p>{{this.ingredients}}</p>
                        <p><a class="waves-effect waves-light btn" id="{{this.id}}" data-recipe_name="{{this.recipe_name}}" data-id="{{this.id}}" data-ingredients="{{this.raw_ingredients}}">Add to List</a></p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
