<div class="container">
<div class="row">
  <!--this row is for the search bar  -->

  <div class="input-field col s12">
  <form class="col s12 m6 offset-m3">
            <div class="input-field">
                <div class="row">
                    <div class="valign-wrapper">
                        <div class="input-field col m6 s12 valign">
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Find a Recipe</label>
                        </div>
                        <button class="btn waves-effect waves-light col m6 s12 valign hoverable" type="submit" name="action" id="submitButton">Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
  </div>
<div class="row">
  <div class="col m6 s12">
    <h5>Here are our most popular recipes</h5>
  </div>
</div>
<div class="row">
  <div class="col m3 s12">
    <a href="/" id="showRandom">Go to Random Recipes</a>
  </div>
</div>
<div class="row" id="recipeHolder">
  <div class="grid">
  {{#each recipes}}
  <div class="col m4 s12 grid-item">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator cardclick" data-id="{{this.id}}" data-ingredients="{{this.ingredients}}" src="{{this.recipe_image}}">
      </div>
      <div class="card-content">
        <span class="card-title activator white-text text-darken-4">{{this.recipe_name}}<i class="material-icons right">toc</i></span>
        <div class="card-action">
        <p><a class="recipePageLink" href="/{{this.id}}">Recipe Page</a>
        <span class="buttonWrapper"><a class="waves-effect waves-light btn addToCartBtn" id="{{this.id}}" data-recipe_name="{{this.recipe_name}}" data-id="{{this.id}}" data-ingredients="{{this.raw_ingredients}}">Add to List</a></span>
        </p>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title white-text text-darken-4">{{this.recipe_name}}<i class="material-icons right">close</i></span>
        <ul id="ingredientsUL{{this.id}}">{{this.ingredients}}</ul>
        <p>
          <a class="recipePageLink" href="/{{this.id}}">Recipe Page</a>
          <a class="waves-effect waves-light btn addToCartBtn" id="{{this.id}}" data-recipe_name="{{this.recipe_name}}" data-id="{{this.id}}" data-ingredients="{{this.raw_ingredients}}">Add to List</a>
        </p>
      </div>

    </div>
  </div>
        {{/each}}
    </div> {{!-- grid close div --}}
  </div>
</div>
